body {
  background: linear-gradient(green, red);
  height: 115vh;
}
.flying img{
  max-width: 300px;
  max-height: 300px;
}
.flying img{
  animation: fly 25s linear infinite;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  }
  @keyframes fly {
  0% {
    transform: translate(-200%,110vh) rotateZ(-180deg);
  }
  12.5% {
    transform: translate(120vw,-120%) rotateZ(-200deg);
  }
  25% {
    transform: translate(-200%,50vh) rotateZ(-30deg);
  }
  37.5% {
    transform: translate(-200%,-120%) rotateZ(-40deg);
  }
  50% {
    transform: translate(100vw,50vh) rotateZ(0deg);
  }
  62.5% {
    transform: translate(20vw,100vh) rotateZ(-20deg);
  }
  75% {
    transform: translate(200%,100vh) rotateZ(-20deg);
  }
  87.5% {
    transform: translate(50vw,-200%) rotateZ(-80deg);
  }
  100% {
    transform: translate(-200%,110vh) rotateZ(0deg);
  }
}

.heading {
  text-align: center;
  margin: 1em;
  color:white;
}
.inner-container {
  padding: 2em 0em 2em 5em;
  width: 80%;
  margin: auto;
  background-color:rgb(0, 0, 0, .3) ;
  color:white;
}
.sizing {
  margin-bottom: 2em;
}
p {
  text-align: center;
}
.sizing .col-12 img {
  max-width: 450px;
  max-height: 450px;
  position: absolute;
  top: 15%;
  left: 60%;
}
input[type="checkbox"] {
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);
}
input[type="radio"] {
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);
}
.row2 {
  width: 80%;
  margin: auto;
  background-color:rgb(0, 0, 0, .3);
}
.gif-div img {
  max-width: 700px;
  max-height: 400px;
}
.gif-div {
  margin: auto; 
  width:fit-content; 
}

footer {
  text-align: center;
}

